@charset "UTF-8";
body {
  opacity: 1;
}

#tn-whitelabel-container {
  max-width: 1400px;
  margin: 0px auto 0 auto;
  padding: 0 10px;
}

main {
  max-width: 1200px;
  margin: auto auto;
}

.tn-events-detail-page .tn-detail {
  max-width: 992px;
}

#tnew-v7 {
  /*Listing*/
}

#tnew-v7 .glyphicon-calendar {
  color: #002776;
}

#tnew-v7 a {
  color: #002776;
}

#tnew-v7 a:focus,
#tnew-v7 a:hover {
  color: #3e4f70;
  text-decoration: underline;
}

#tnew-v7 .tn-account-login-page .tn-account-login-forgot-login-link,
#tnew-v7 .tn-detail-page-header .tn-detail-production-text-toggle-link,
#tnew-v7 .tn-gift-certificate-component #apply-gc-submit,
#tnew-v7 .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle,
#tnew-v7 .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle,
#tnew-v7 .tn-listing-filter-component .tn-date-filter-reset-button,
#tnew-v7 .tn-listing-legend-toggle-link,
#tnew-v7 .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan .tn-apply.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan .tn-cancel.tn-payment-plan-toggle,
#tnew-v7 .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button,
#tnew-v7 .tnew_button_as_link {
  text-decoration: underline;
  color: #002776;
}

#tnew-v7 .tn-event-listing-mode-tab-nav__list-item {
  color: #002776;
}

#tnew-v7 .tn-events-keyword-filter__keyword-input:checked
+ .tn-events-keyword-filter__keyword-button {
  background-color: #002776;
  border-color: #002776;
  color: #fff;
}

#tnew-v7 .tn-datepicker td.day[aria-current="date"] span {
  color: #fff;
  background-color: #002776;
  border-color: #002776;
}

#tnew-v7 .tn-events-list-view {
  background-color: none;
}

#tnew-v7 .h1 .small,
#tnew-v7 .h1 small,
#tnew-v7 .h2 .small,
#tnew-v7 .h2 small,
#tnew-v7 .h3 .small,
#tnew-v7 .h3 small,
#tnew-v7 .h4 .small,
#tnew-v7 .h4 small,
#tnew-v7 .h5 .small,
#tnew-v7 .h5 small,
#tnew-v7 .h6 .small,
#tnew-v7 .h6 small,
#tnew-v7 h1 .small,
#tnew-v7 h1 small,
#tnew-v7 h2 .small,
#tnew-v7 h2 small,
#tnew-v7 h3 .small,
#tnew-v7 h3 small,
#tnew-v7 h4 .small,
#tnew-v7 h4 small,
#tnew-v7 h5 .small,
#tnew-v7 h5 small,
#tnew-v7 h6 .small,
#tnew-v7 h6 small {
  font-weight: 400;
  line-height: 1;
  color: #3e4f70;
}

#tnew-v7 text-muted {
  color: #3e4f70;
}

#tnew-v7 .text-primary {
  color: #002776;
}

#tnew-v7 a.text-primary:focus,
#tnew-v7 a.text-primary:hover {
  color: #3e4f70;
}

#tnew-v7 .text-success {
  color: #002776;
}

#tnew-v7 a.text-success:focus,
#tnew-v7 a.text-success:hover {
  color: #3e4f70;
}

#tnew-v7 .text-info {
  color: #3e4f70;
}

#tnew-v7 a.text-info:focus,
#tnew-v7 a.text-info:hover {
  color: #5f7091;
}

#tnew-v7 .text-warning {
  color: #8a6d3b;
}

#tnew-v7 a.text-warning:focus,
#tnew-v7 a.text-warning:hover {
  color: #66512c;
}

#tnew-v7 .text-danger {
  color: #a94442;
}

#tnew-v7 a.text-danger:focus,
#tnew-v7 a.text-danger:hover {
  color: #843534;
}

#tnew-v7 .bg-primary {
  color: #fff;
  background-color: #3e4f70;
}

#tnew-v7 a.bg-primary:focus,
#tnew-v7 a.bg-primary:hover {
  background-color: #5f7091;
}

#tnew-v7 caption {
  color: #3e4f70;
}

#tnew-v7 legend {
  color: #00091b;
}

#tnew-v7 .form-control,
#tnew-v7 output {
  color: #3e4f70;
}

#tnew-v7 .form-control:focus {
  border-color: #66afe9;
}

#tnew-v7 .btn.focus,
#tnew-v7 .btn:focus,
#tnew-v7 .btn:hover {
  color: #bdc3c7;
  text-decoration: none;
}

#tnew-v7 .btn-default {
  color: #3e4f70;
  background-color: #fff;
  border-color: #ccc;
}

#tnew-v7 .btn-default.focus,
#tnew-v7 .btn-default:focus {
  color: #002776;
  background-color: #e6e6e6;
  border-color: #3e4f70;
}

#tnew-v7 .btn-default.active,
#tnew-v7 .btn-default:active,
#tnew-v7 .btn-default:hover,
#tnew-v7 .open > .btn-default.dropdown-toggle {
  color: #3e4f70;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#tnew-v7 .btn-default.active.focus,
#tnew-v7 .btn-default.active:focus,
#tnew-v7 .btn-default.active:hover,
#tnew-v7 .btn-default:active.focus,
#tnew-v7 .btn-default:active:focus,
#tnew-v7 .btn-default:active:hover,
#tnew-v7 .open > .btn-default.dropdown-toggle.focus,
#tnew-v7 .open > .btn-default.dropdown-toggle:focus,
#tnew-v7 .open > .btn-default.dropdown-toggle:hover {
  color: #3e4f70;
  background-color: #d4d4d4;
  border-color: #576b92;
}

#tnew-v7 .btn-default.active,
#tnew-v7 .btn-default:active,
#tnew-v7 .open > .btn-default.dropdown-toggle {
  background-image: none;
}

#tnew-v7 .btn-default.disabled.focus,
#tnew-v7 .btn-default.disabled:focus,
#tnew-v7 .btn-default.disabled:hover,
#tnew-v7 .btn-default[disabled].focus,
#tnew-v7 .btn-default[disabled]:focus,
#tnew-v7 .btn-default[disabled]:hover,
#tnew-v7 fieldset[disabled] .btn-default.focus,
#tnew-v7 fieldset[disabled] .btn-default:focus,
#tnew-v7 fieldset[disabled] .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}

#tnew-v7 .btn-default .badge {
  color: #fff;
  background-color: #3e4f70;
}

#tnew-v7 .btn-primary {
  color: #fff;
  background-color: #3e4f70;
  border-color: #002776;
}

#tnew-v7 .btn-primary.focus,
#tnew-v7 .btn-primary:focus {
  color: #fff;
  background-color: #3e4f70;
  border-color: #002776;
}

#tnew-v7 .btn-primary.active,
#tnew-v7 .btn-primary:active,
#tnew-v7 .btn-primary:hover,
#tnew-v7 .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3e4f70;
  border-color: #002776;
}

#tnew-v7 .btn-primary.active.focus,
#tnew-v7 .btn-primary.active:focus,
#tnew-v7 .btn-primary.active:hover,
#tnew-v7 .btn-primary:active.focus,
#tnew-v7 .btn-primary:active:focus,
#tnew-v7 .btn-primary:active:hover,
#tnew-v7 .open > .btn-primary.dropdown-toggle.focus,
#tnew-v7 .open > .btn-primary.dropdown-toggle:focus,
#tnew-v7 .open > .btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #3e4f70;
  border-color: #002776;
}

#tnew-v7 .btn-primary.active,
#tnew-v7 .btn-primary:active,
#tnew-v7 .open > .btn-primary.dropdown-toggle {
  background-image: none;
}

#tnew-v7 .btn-primary.disabled.focus,
#tnew-v7 .btn-primary.disabled:focus,
#tnew-v7 .btn-primary.disabled:hover,
#tnew-v7 .btn-primary[disabled].focus,
#tnew-v7 .btn-primary[disabled]:focus,
#tnew-v7 .btn-primary[disabled]:hover,
#tnew-v7 fieldset[disabled] .btn-primary.focus,
#tnew-v7 fieldset[disabled] .btn-primary:focus,
#tnew-v7 fieldset[disabled] .btn-primary:hover {
  background-color: #3e4f70;
  border-color: #7d8fb4;
}

#tnew-v7 .btn-primary .badge {
  color: #002776;
  background-color: #fff;
}

#tnew-v7 .btn-link {
  color: #3e4f70;
  font-weight: 400;
  border-radius: 0;
}

#tnew-v7 .btn-link:focus,
#tnew-v7 .btn-link:hover {
  color: #3e4f70;
}

#tnew-v7 .btn-link[disabled]:focus,
#tnew-v7 .btn-link[disabled]:hover,
#tnew-v7 fieldset[disabled] .btn-link:focus,
#tnew-v7 fieldset[disabled] .btn-link:hover {
  color: #3e4f70;
}

#tnew-v7 .dropdown-menu > .active > a,
#tnew-v7 .dropdown-menu > .active > a:focus,
#tnew-v7 .dropdown-menu > .active > a:hover {
  background-color: #002776;
}

#tnew-v7 .nav .open > a,
#tnew-v7 .nav .open > a:focus,
#tnew-v7 .nav .open > a:hover {
  background-color: #eee;
  border-color: #002776;
}

#tnew-v7 .nav-pills > li.active > a,
#tnew-v7 .nav-pills > li.active > a:focus,
#tnew-v7 .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #002776;
}

#tnew-v7 .pagination > li > a:focus,
#tnew-v7 .pagination > li > a:hover,
#tnew-v7 .pagination > li > span:focus,
#tnew-v7 .pagination > li > span:hover {
  z-index: 2;
  color: #3e4f70;
  background-color: #eee;
  border-color: #ddd;
}

#tnew-v7 .pagination > .active > a,
#tnew-v7 .pagination > .active > a:focus,
#tnew-v7 .pagination > .active > a:hover,
#tnew-v7 .pagination > .active > span,
#tnew-v7 .pagination > .active > span:focus,
#tnew-v7 .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #3e4f70;
  border-color: #bdc3c7;
  cursor: default;
}

#tnew-v7 .pagination > .disabled > a,
#tnew-v7 .pagination > .disabled > a:focus,
#tnew-v7 .pagination > .disabled > a:hover,
#tnew-v7 .pagination > .disabled > span,
#tnew-v7 .pagination > .disabled > span:focus,
#tnew-v7 .pagination > .disabled > span:hover {
  color: #3e4f70;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

#tnew-v7 .label-primary {
  background-color: #002776;
}

#tnew-v7 .label-primary[href]:focus,
#tnew-v7 .label-primary[href]:hover {
  background-color: #3e4f70;
}

#tnew-v7 .label-info {
  background-color: #3e4f70;
}

#tnew-v7 .label-info[href]:focus,
#tnew-v7 .label-info[href]:hover {
  background-color: #bdc3c7;
}

#tnew-v7 .list-group-item.active > .badge,
#tnew-v7 .nav-pills > .active > a > .badge {
  color: #002776;
  background-color: #fff;
}

#tnew-v7 .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3e4f70;
}

#tnew-v7 .progress-bar {
  background-color: #3e4f70;
}

#tnew-v7 .list-group-item.active,
#tnew-v7 .list-group-item.active:focus,
#tnew-v7 .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #3e4f70;
  border-color: #3e4f70;
}

#tnew-v7 .list-group-item-info {
  color: #3e4f70;
  background-color: #d9edf7;
}

#tnew-v7 a.list-group-item-info,
#tnew-v7 button.list-group-item-info {
  color: #3e4f70;
}

#tnew-v7 a.list-group-item-info:focus,
#tnew-v7 a.list-group-item-info:hover,
#tnew-v7 button.list-group-item-info:focus,
#tnew-v7 button.list-group-item-info:hover {
  color: #3e4f70;
  background-color: #c4e3f3;
}

#tnew-v7 a.list-group-item-info.active,
#tnew-v7 a.list-group-item-info.active:focus,
#tnew-v7 a.list-group-item-info.active:hover,
#tnew-v7 button.list-group-item-info.active,
#tnew-v7 button.list-group-item-info.active:focus,
#tnew-v7 button.list-group-item-info.active:hover {
  color: #fff;
  background-color: #3e4f70;
  border-color: #3e4f70;
}

#tnew-v7 .panel-primary {
  border-color: #3e4f70;
}

#tnew-v7 .panel-primary > .panel-heading {
  color: #fff;
  background-color: #3e4f70;
  border-color: #3e4f70;
}

#tnew-v7 .panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3e4f70;
}

#tnew-v7 .panel-primary > .panel-heading .badge {
  color: #3e4f70;
  background-color: #fff;
}

#tnew-v7 .panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3e4f70;
}

#tnew-v7 .opentip-container.style-glass .opentip {
  padding: 15px 25px;
  color: #3e4f70;
  text-shadow: #252f428e;
}

#tnew-v7 .tn-account-login-page .tn-account-login-forgot-login-link,
#tnew-v7 .tn-detail-page-header .tn-detail-production-text-toggle-link,
#tnew-v7 .tn-gift-certificate-component #apply-gc-submit,
#tnew-v7 .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle,
#tnew-v7 .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle,
#tnew-v7 .tn-listing-filter-component .tn-date-filter-reset-button,
#tnew-v7 .tn-listing-legend-toggle-link,
#tnew-v7 .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan .tn-apply.tn-payment-plan-toggle,
#tnew-v7 .tn-payment-plan .tn-cancel.tn-payment-plan-toggle,
#tnew-v7 .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button,
#tnew-v7 .tnew_button_as_link {
  text-decoration: underline;
  color: #002776;
}

#tnew-v7 .tn-events-keyword-filter {
  padding: 15px;
  background-color: unset;
  border: 0px solid #eee;
  margin-bottom: 45px;
}

#tnew-v7 .tn-events-keyword-filter__keyword-input:checked
+ .tn-events-keyword-filter__keyword-button {
  background-color: #002776;
  border-color: #3e4f70;
  color: #fff;
}

#tnew-v7 .tn-btn-datepicker__icon-container {
  padding-left: 10px;
  font-size: 20px;
  color: #002776;
}

#tnew-v7 .tn-datepicker td.day[aria-current="date"] span {
  color: #fff;
  background-color: #002776;
  border-color: #3e4f70;
}

#tnew-v7 .tn-event-listing-mode-tab-nav__list-item {
  padding: 10px 15px;
  margin-left: 5px;
  border: 3px solid #eee;
  background-color: #fafafa;
  color: #002776;
  border-bottom: 0;
  cursor: pointer;
}

#tnew-v7 .tn-events-keyword-filter__keyword-input:checked
+ .tn-events-keyword-filter__keyword-button {
  background-color: #002776;
  border-color: #3e4f70;
  color: #fff;
}

#tnew-v7 .tn-btn-datepicker__icon-container {
  padding-left: 10px;
  font-size: 20px;
  color: #002776;
}

#tnew-v7 .tn-datepicker td.day[aria-current="date"] span {
  color: #fff;
  background-color: #002776;
  border-color: #3e4f70;
}

#tnew-v7 .tn-event-listing-mode-tab-nav__list-item {
  padding: 10px 15px;
  margin-left: 5px;
  border: 3px solid #eee;
  background-color: #fafafa;
  color: #002776;
  border-bottom: 0;
  cursor: pointer;
}

#tnew-v7 .tn-prod-list-item__property {
  margin: 0px;
}

#tnew-v7 .even {
  position: relative;
}

#tnew-v7 .odd {
  position: relative;
}

#tnew-v7 .btn-group-xs > .btn,
#tnew-v7 .btn-xs {
  padding: 1px 5px;
  font-size: 22px;
  line-height: 1.5;
  border-radius: 0px;
}

#tnew-v7 .btn-group-lg > .btn,
#tnew-v7 .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0px;
}

#tnew-v7 .btn-group-xs > .btn,
#tnew-v7 .btn-xs {
  font-size: 18px;
}

#tnew-v7 .odd .tn-prod-list-item__perf-list-item a {
  color: #6c4e79;
}

#tnew-v7 .odd .tn-prod-list-item__perf-list-item .btn-primary {
  background-color: #6c4e79;
  border-color: #666666;
}

#tnew-v7 .odd .tn-prod-list-item__perf-list-item .btn-primary:hover {
  background-color: #b61c50;
}

#tnew-v7 .odd .tn-prod-list-item__perf-list-item:hover .btn-primary {
  background-color: #b61c50;
}

#tnew-v7 .odd .tn-prod-list-item {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 5% 70% 15% 10%;
  -ms-grid-columns: 5% 70% 15% 10%;
  -ms-grid-rows: 100px 550px minmax(50px, max-content) 10px;
      grid-template-rows: 100px 550px minmax(50px, -webkit-max-content) 10px;
      grid-template-rows: 100px 550px minmax(50px, max-content) 10px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #eee;
  margin-bottom: 50px;
}

#tnew-v7 .odd .tn-prod-list-item h4 {
  padding-bottom: 0px;
  font-family: "Amiri", serif;
}

#tnew-v7 .odd .tn-prod-list-item h4 a {
  color: #6c4e79;
  font-size: 8rem;
  padding-bottom: 5px;
}

#tnew-v7 .odd .tn-prod-list-item h4 a:hover {
  color: #b61c50;
}

#tnew-v7 .odd img {
  max-width: 1300%;
}

#tnew-v7 .odd .tn-prod-list-item__property--perf-list {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  z-index: 2;
  font-size: 2rem;
}

#tnew-v7 .odd .tn-event-listing__primary-view {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

#tnew-v7 .odd .tn-prod-list-item__property--img-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  line-height: 0;
  z-index: 1;
}

#tnew-v7 .odd .tn-prod-list-item__property--heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  z-index: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#tnew-v7 .odd .tn-prod-list-item__property--description {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 10% 40% 12% auto;
  -ms-grid-columns: 10% 40% 12% auto;
  grid-auto-rows: 60px 90px auto;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #eee;
  z-index: -1;
  color: black;
  -ms-grid-column: 6;
  grid-column: 6;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
}

#tnew-v7 .odd .tn-prod-list-item__property--description .color1 {
  background-color: #b61c50;
  position: absolute;
  width: 100%;
  height: 490px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / span 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / span 5;
}

#tnew-v7 .odd .tn-prod-list-item__property--description .color2 {
  background-color: #64bfa4;
  position: absolute;
  width: 55%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2 / span 6;
  z-index: -1;
}

#tnew-v7 .odd .tn-prod-list-item__property--description .content-desc {
  -ms-grid-column: 4;
  grid-column: 4;
  z-index: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / span 5;
  color: white;
  font-size: 2.5rem;
  padding-left: 45px;
  padding-right: 10px;
}

@media (max-width: 970px) {
  #tnew-v7 .odd .content-desc {
    font-size: 2rem;
  }
  #tnew-v7 .odd .tn-prod-list-item h4 a {
    font-size: 5rem;
  }
  #tnew-v7 .odd .tn-prod-list-item {
    grid-template-columns: 5% 60% auto;
    -ms-grid-columns: 5% 60% 35%;
    -ms-grid-rows: 60px 410px minmax(50px, max-content) 10px;
        grid-template-rows: 60px 410px minmax(50px, -webkit-max-content) 10px;
        grid-template-rows: 60px 410px minmax(50px, max-content) 10px;
    min-height: 0px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--perf-list {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    z-index: 2;
    font-size: 2rem;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description {
    grid-template-columns: 10% 40% 12% auto;
    -ms-grid-columns: 10% 40% 12% 38%;
    grid-auto-rows: 30px 60px 300px 10% minmax(50px, -webkit-max-content) 10px;
    grid-auto-rows: 30px 60px 300px 10% minmax(50px, max-content) 10px;
    height: 100%;
    padding-right: 0px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .color1 {
    background-color: #b61c50;
    position: absolute;
    width: 100%;
    height: 350px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / span 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3 / span 3;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .color2 {
    background-color: #64bfa4;
    position: absolute;
    width: 55%;
    height: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 7;
    grid-row: 2 / span 7;
    z-index: -1;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .content-desc {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / span 4;
    z-index: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3 / span 5;
    color: white;
    font-size: 2rem;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  #tnew-v7 .odd .tn-prod-list-item h4 a {
    font-size: 3.5rem;
  }
  #tnew-v7 .odd .tn-prod-list-item {
    grid-template-columns: 5% 60% auto;
    -ms-grid-columns: 5% 60% auto;
    -ms-grid-rows: 60px 150px minmax(50px, max-content) 10px;
        grid-template-rows: 60px 150px minmax(50px, -webkit-max-content) 10px;
        grid-template-rows: 60px 150px minmax(50px, max-content) 10px;
    min-height: 0px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description {
    grid-template-columns: 5% 40% 12% auto;
    -ms-grid-columns: 5% 40% 12% auto;
    grid-auto-rows: 20px 20px 60px 10% minmax(50px, -webkit-max-content);
    grid-auto-rows: 20px 20px 60px 10% minmax(50px, max-content);
    height: 100%;
    padding-right: 0px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .color1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    height: 160px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .content-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    font-size: 2rem;
    padding-right: 0px;
    padding-left: 5px;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--description .color2 {
    -ms-grid-column: 2;
    grid-column: 2;
    width: 65%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    grid-row: 2 / span 8;
  }
  #tnew-v7 .odd .tn-prod-list-item__property--perf-list {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    z-index: 2;
    font-size: 1.8rem;
  }
  #tnew-v7 .odd .tn-prod-list-item__perf-property--title {
    width: 70%;
  }
  #tnew-v7 .odd .tn-prod-list-item__perf-property--action {
    width: 30%;
  }
}

#tnew-v7 .even .tn-prod-list-item__perf-list-item a {
  color: #223a5e;
}

#tnew-v7 .even .tn-prod-list-item__perf-list-item .btn-primary {
  background-color: #223a5e;
  border-color: #666666;
}

#tnew-v7 .even .tn-prod-list-item__perf-list-item .btn-primary:hover {
  background-color: #fe840e;
}

#tnew-v7 .even .tn-prod-list-item__perf-list-item:hover .btn-primary {
  background-color: #fe840e;
}

#tnew-v7 .even .tn-prod-list-item {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 5% 30% 55% auto;
  -ms-grid-columns: 5% 30% 55% auto;
  -ms-grid-rows: 100px 550px minmax(50px, max-content) 10px;
      grid-template-rows: 100px 550px minmax(50px, -webkit-max-content) 10px;
      grid-template-rows: 100px 550px minmax(50px, max-content) 10px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #eee;
  margin-bottom: 50px;
}

#tnew-v7 .even .tn-prod-list-item h4 {
  padding-bottom: 0px;
  font-family: "Amiri", serif;
}

#tnew-v7 .even .tn-prod-list-item h4 a {
  color: #223a5e;
  font-size: 8rem;
  padding-bottom: 5px;
}

#tnew-v7 .even .tn-prod-list-item h4 a:hover {
  color: #6c4e79;
}

#tnew-v7 .even .tn-prod-list-item__property--perf-list {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  z-index: 2;
  font-size: 2rem;
}

#tnew-v7 .even .tn-event-listing__primary-view {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

#tnew-v7 .even .tn-prod-list-item__property--img-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  line-height: 0;
  z-index: 1;
  right: 0;
}

#tnew-v7 .even .tn-prod-list-item__property--heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  z-index: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#tnew-v7 .even .tn-prod-list-item__property--description {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 18% 24% 12% 35% auto;
  -ms-grid-columns: 18% 24% 12% 35% auto;
  grid-auto-rows: 60px 90px auto;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #eee;
  z-index: -1;
  color: black;
  padding-right: 0px;
  -ms-grid-column: 6;
  grid-column: 6;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
}

#tnew-v7 .even .tn-prod-list-item__property--description .color1 {
  background-color: #6c4e79;
  position: absolute;
  width: 100%;
  height: 490px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
}

#tnew-v7 .even .tn-prod-list-item__property--description .color2 {
  background-color: #fe840e;
  position: absolute;
  width: 55%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  z-index: -1;
}

#tnew-v7 .even .tn-prod-list-item__property--description .content-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  z-index: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  color: white;
  padding: 20px;
  padding-right: 70px;
  font-size: 2.5rem;
}

#tnew-v7 .even .tn-prod-list-item__property--description img {
  max-width: 100%;
}

@media (max-width: 970px) {
  #tnew-v7 .even .content-desc {
    font-size: 2rem;
  }
  #tnew-v7 .even .tn-prod-list-item__property--perf-list {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    z-index: 2;
    font-size: 2rem;
  }
  #tnew-v7 .even .tn-prod-list-item h4 a {
    font-size: 5rem;
  }
  #tnew-v7 .even .tn-prod-list-item {
    grid-template-columns: 3% 30% auto;
    -ms-grid-columns: 3% 30% auto;
    -ms-grid-rows: 60px 410px minmax(50px, max-content) 10px;
        grid-template-rows: 60px 410px minmax(50px, -webkit-max-content) 10px;
        grid-template-rows: 60px 410px minmax(50px, max-content) 10px;
    min-height: 0px;
  }
  #tnew-v7 .even img {
    max-width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description {
    grid-template-columns: 5% 30% 5% 12% auto;
    -ms-grid-columns: 5% 30% 5% 12% auto;
    grid-auto-rows: 30px 60px 300px 10% minmax(50px, -webkit-max-content) 10px;
    grid-auto-rows: 30px 60px 300px 10% minmax(50px, max-content) 10px;
    height: 100%;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .color1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3 / span 3;
    height: 350px;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .color2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 7;
    grid-row: 2 / span 7;
    z-index: -1;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .content-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    z-index: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3 / span 5;
    color: white;
    padding: 5px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #tnew-v7 .even .tn-prod-list-item h4 a {
    font-size: 3.5rem;
  }
  #tnew-v7 .even .tn-prod-list-item {
    grid-template-columns: 5% 60% auto;
    -ms-grid-columns: 5% 60% auto;
    -ms-grid-rows: 60px 150px minmax(50px, max-content) 10px;
        grid-template-rows: 60px 150px minmax(50px, -webkit-max-content) 10px;
        grid-template-rows: 60px 150px minmax(50px, max-content) 10px;
    min-height: 0px;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description {
    grid-template-columns: 5% 40% 12% auto;
    -ms-grid-columns: 5% 40% 12% auto;
    grid-auto-rows: 20px 20px 60px 10% minmax(50px, -webkit-max-content);
    grid-auto-rows: 20px 20px 60px 10% minmax(50px, max-content);
    height: 100%;
    padding-right: 0px;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .color1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    height: 160px;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .content-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    font-size: 2rem;
    padding-right: 0px;
  }
  #tnew-v7 .even .tn-prod-list-item__property--description .color2 {
    -ms-grid-column: 2;
    grid-column: 2;
    width: 65%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    grid-row: 2 / span 8;
  }
  #tnew-v7 .even .tn-prod-list-item__property--perf-list {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    z-index: 2;
    font-size: 1.8rem;
  }
  #tnew-v7 .even .tn-prod-list-item__perf-property--title {
    width: 70%;
  }
  #tnew-v7 .even .tn-prod-list-item__perf-property--action {
    width: 30%;
  }
}

/*Head*/
.vaf-header {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 90px;
  background-color: #002776;
  text-align: right;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  z-index: 20;
  position: relative;
}

.vaf-header img {
  float: left;
}

.vaf-header > a {
  max-width: 1185px;
  margin: 0 auto;
  width: 100%;
}

.tn-subnav-component {
  max-width: 1200px;
  margin: auto auto;
}

#tn-subnav-promo-code {
  border: solid;
  border-color: #00277660;
  border-width: 1px;
  vertical-align: top;
  height: 44.4px;
}

.tn-subnav-promo-button {
  color: white !important;
  background-color: #002776 !important;
  padding: 10.8px !important;
  border: solid !important;
  border-color: #002776 !important;
  border-width: 1px !important;
  text-decoration: none !important;
  margin: none !important;
  height: 44.4px !important;
}

.tn-subnav-promo-button:hover {
  color: #002776 !important;
  background-color: white !important;
  padding: 10px !important;
  border: solid !important;
  border-color: #002776 !important;
  border-width: 1px !important;
  text-decoration: none !important;
}

.tn-subnav-component .tn-promo-box input {
  line-height: 0em !important;
}

.tn-subnav-component .tn-promo-box input {
  border-radius: 0px;
}

.bo-times::before {
  content: "10am-5pm";
}

.bo-days::before {
  content: "Monday to Friday:";
}

.c-year::before {
  content: "©2019 Virginia Arts Festival. All artists, repertoire, performance dates, times, and venues are subject to change. All sales are final. No refunds or exchanges.";
}

.span4 h3 {
  color: #002776;
}

.tn-event-listing-mode-tab-nav__list-item:active {
  background-color: white;
}

/*PDP*/
#tnew-v7 .tn-prod-season-header {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 3% 2% 95%;
      grid-template-columns: 3% 2% 95%;
  -ms-grid-rows: 40px 550px minmax(50px, max-content);
      grid-template-rows: 40px 550px minmax(50px, -webkit-max-content);
      grid-template-rows: 40px 550px minmax(50px, max-content);
  background-color: rgba(255, 255, 255, 0);
}

#tnew-v7 .pdp-color1 {
  background-color: #6c4e79;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  width: 95%;
  max-height: 100%;
  z-index: -2;
  margin-top: 25%;
}

#tnew-v7 .pdp-color2 {
  background-color: #fe840e;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  width: 40%;
  height: 450px;
  margin-top: 3%;
  z-index: -1;
}

#tnew-v7 .tn-prod-season-header__date-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-left: 20px;
}

#tnew-v7 .tn-prod-season-header__title-and-image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10% auto;
      grid-template-rows: 10% auto;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 0;
}

#tnew-v7 .tn-prod-season-header__title {
  color: #223a5e;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: left;
  font-family: "Amiri", serif;
  font-size: 5rem;
}

#tnew-v7 .tn-prod-season-header__image-wrapper {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
}

#tnew-v7 .tn-prod-season-header__image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#tnew-v7 .tn-prod-season-header__description-container {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  width: 93%;
  height: 100%;
  padding: 20px 0;
}

#tnew-v7 .btn-group-sm > .btn,
#tnew-v7 .btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  border-radius: 0px;
  background-color: white;
}

#tnew-v7 .btn-group-sm > .btn:hover,
#tnew-v7 .btn-sm:hover {
  color: white;
  background-color: #fe840e;
}

@media (max-width: 1000px) {
  #tnew-v7 .pdp-color2 {
    height: 350px;
  }
}

@media (max-width: 768px) {
  #tnew-v7 .tn-prod-season-header {
    -ms-grid-rows: 20px auto minmax(50px, max-content);
        grid-template-rows: 20px auto minmax(50px, -webkit-max-content);
        grid-template-rows: 20px auto minmax(50px, max-content);
  }
  #tnew-v7 .pdp-color1 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
    width: 95%;
    max-height: 100%;
    z-index: -1;
    margin-top: 0;
  }
  #tnew-v7 .pdp-color2 {
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
    height: 300px;
    margin-top: 6%;
    z-index: -2;
  }
  #tnew-v7 .tn-prod-season-header__date-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    padding-left: 20px;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #tnew-v7 .tn-prod-season-header__title-and-image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 0;
  }
  #tnew-v7 .tn-prod-season-header__title {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #tnew-v7 .tn-prod-season-header__image-wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 100%;
  }
  #tnew-v7 .tn-prod-season-header__description-container {
    padding: 20px 0;
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  #tnew-v7 .tn-prod-season-header__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  #tnew-v7 .pdp-color2 {
    margin-top: 11%;
  }
}

#tnew-v7 .input-group-btn:last-child > .btn {
  color: #fff;
  background-color: #002776;
  border-color: #002776;
  border-radius: 0px;
}

#tnew-v7 .input-group .form-control:first-child {
  border-radius: 0px;
}

#tnew-v7 .btn-primary {
  background-color: #002776;
}

#tnew-v7 footer {
  clear: both;
}

#tnew-v7 .form-control {
  border-radius: 0px;
}

#tnew-v7 .input-group-addon {
  border-radius: 0px;
}

#tnew-v7 .btn {
  border-radius: 0px;
}

#tnew-v7 .tn-additional-events__continue-shopping-link {
  color: white;
  background-color: #002776;
  padding: 10px;
  border: 1px solid #002776;
  margin-right: auto;
  margin-left: auto;
}

#tnew-v7 .tn-additional-events__continue-shopping-link:hover {
  border: 1px solid #002776;
  color: #002776;
  background-color: white;
  text-decoration: none;
}

#tnew-v7 .logos {
  margin-top: 40px;
}

#tnew-v7 .tn-pdp-list-item__perf-list-item a {
  color: #223a5e;
}

#tnew-v7 .tn-pdp-list-item__perf-list-item {
  background-color: white;
  color: #223a5e;
  width: 20%;
  height: 35px;
  margin-bottom: 10px;
}

#tnew-v7 .tn-pdp-list-item__perf-list-item .btn {
  float: right;
  background-color: #223a5e;
  height: 100%;
}

#tnew-v7 .tn-pdp-list-item__perf-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 1.3;
  min-height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-right: 30px;
}

#tnew-v7 .tn-pdp-list-item__perf-action {
  padding-left: 10px;
}
/*# sourceMappingURL=styles.css.map */