                                     
                         
         
                         
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

                                                 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

                         
               
                         
.tn-qs-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .tn-qs-container {
      width: 750px; } }
  @media (min-width: 992px) {
    .tn-qs-container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .tn-qs-container {
      width: 1170px; } }

#tn-qs-main-nav {
  width: 100%;
  height: 100px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #630462;
  display: inline-block; }
  #tn-qs-main-nav .tn-qs-container {
    height: inherit; }
  #tn-qs-main-nav #tn-qs-main-nav__logo {
    display: inline-block; }
    #tn-qs-main-nav #tn-qs-main-nav__logo #tn-qs-main-nav__logo-link {
      display: block; }
      #tn-qs-main-nav #tn-qs-main-nav__logo #tn-qs-main-nav__logo-link img {
        max-height: 100px; }
  #tn-qs-main-nav #tn-qs-main-nav__mobile-btn {
    float: right;
    padding: 10px 15px;
    margin: 20px 10px;
    background: #190119;
    border: 0; }
    #tn-qs-main-nav #tn-qs-main-nav__mobile-btn span {
      width: 35px;
      height: 5px;
      display: block;
      background-color: #fff;
      margin: 6px 0; }
  #tn-qs-main-nav.mobile-open {
    height: auto; }
    #tn-qs-main-nav.mobile-open .tn-qs-main-nav__menu {
      display: block;
      clear: both;
      padding: 15px;
      text-align: center; }
      #tn-qs-main-nav.mobile-open .tn-qs-main-nav__menu a {
        color: #fff;
        line-height: 32px;
        text-decoration: none; }
        #tn-qs-main-nav.mobile-open .tn-qs-main-nav__menu a:hover, #tn-qs-main-nav.mobile-open .tn-qs-main-nav__menu a:focus, #tn-qs-main-nav.mobile-open .tn-qs-main-nav__menu a:active {
          text-decoration: underline; }
  #tn-qs-main-nav .tn-qs-main-nav__menu {
    display: none; }
    #tn-qs-main-nav .tn-qs-main-nav__menu ul {
      margin-top: 0;
      margin-bottom: 0; }
  @media (min-width: 992px) {
    #tn-qs-main-nav {
      height: 100px !important; }
      #tn-qs-main-nav #tn-qs-main-nav__mobile-btn {
        display: none; }
      #tn-qs-main-nav .tn-qs-main-nav__menu {
        display: block;
        list-style-type: none;
        text-align: left;
        padding: 0;
        margin: 0;
        float: right; }
        #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary {
          float: right;
          clear: both; }
          #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item {
            display: inline-block;
            float: left; }
            #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link {
              padding: 17px 27px;
              display: block; }
        #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link {
          color: #fff;
          background-color: #190119;
          text-decoration: none; }
          #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:hover, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:active, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-primary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:focus {
            color: #fff;
            background-color: #4a034a; }
        #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link {
          color: #fff;
          text-decoration: none; }
          #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:hover, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:active, #tn-qs-main-nav .tn-qs-main-nav__menu #tn-qs-main-nav__menu-secondary .tn-qs-main-nav__menu-item .tn-qs-main-nav__menu-item-link:focus {
            color: #fff;
            text-decoration: underline; } }

#tn-qs-banner-image {
  display: none; }
  @media (min-width: 768px) {
    #tn-qs-banner-image {
      display: block;
      background-image: url("../../images/banner-image.jpg");
      height: 250px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; } }

#TNEW-container {
  padding: 30px;
  background-color: #fff; }

footer {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #630462;
  color: #fff; }
  footer a {
    color: #fff !important;
    text-decoration: none; }
    footer a:hover, footer a:active, footer a:focus {
      color: #fff !important;
      text-decoration: underline; }
  footer ul {
    list-style-type: none;
    padding: 0; }
  footer .tn-qs-footer-block {
    font-size: 16px;
    line-height: 24px;
    width: 50%;
    float: left; }
    footer .tn-qs-footer-block:nth-of-type(3) {
      clear: left; }
    @media (min-width: 992px) {
      footer .tn-qs-footer-block {
        width: 25%;
        float: left; }
        footer .tn-qs-footer-block:nth-of-type(3) {
          clear: none; } }
    footer .tn-qs-footer-block h3 {
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      text-transform: uppercase; }
    footer .tn-qs-footer-block address {
      font-size: 16px;
      line-height: 24px; }
    footer .tn-qs-footer-block a {
      font-size: 16px;
      line-height: 24px; }
    footer .tn-qs-footer-block > div {
      padding: 15px; }
    footer .tn-qs-footer-block span {
      display: block; }
    footer .tn-qs-footer-block span.anchor-label {
      text-transform: uppercase;
      display: inline-block;
      min-width: 50px;
      margin-right: 10px; }
    footer .tn-qs-footer-block__logo img {
      max-height: 70px;
      max-width: 100%; }
  footer #tn-qs-copyright {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    clear: both;
    padding: 30px 15px 15px; }

                         
           
                         
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px; }
  body .tn-heading, body h1, body h2, body h3, body h4, body h5, body h6,
  body .tn-prod-season-header__title,
  body .tn-event-detail__title {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #630462; }
  body a, body .tn-event-listing-mode-tab-nav__list-item, body .tn-account-login-page .tn-account-login-forgot-login-link, body .tn-detail-page-header .tn-detail-production-text-toggle-link, body .tn-gift-certificate-component #apply-gc-submit, body .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle, body .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle, body .tn-listing-filter-component .tn-date-filter-reset-button, body .tn-listing-legend-toggle-link, body .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle, body .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle, body .tn-payment-plan .tn-apply.tn-payment-plan-toggle, body .tn-payment-plan .tn-cancel.tn-payment-plan-toggle, body .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button, body .tnew_button_as_link {
    color: #630462; }
    body a:hover, body a:active, body a:focus, body .tn-event-listing-mode-tab-nav__list-item:hover, body .tn-event-listing-mode-tab-nav__list-item:active, body .tn-event-listing-mode-tab-nav__list-item:focus, body .tn-account-login-page .tn-account-login-forgot-login-link:hover, body .tn-account-login-page .tn-account-login-forgot-login-link:active, body .tn-account-login-page .tn-account-login-forgot-login-link:focus, body .tn-detail-page-header .tn-detail-production-text-toggle-link:hover, body .tn-detail-page-header .tn-detail-production-text-toggle-link:active, body .tn-detail-page-header .tn-detail-production-text-toggle-link:focus, body .tn-gift-certificate-component #apply-gc-submit:hover, body .tn-gift-certificate-component #apply-gc-submit:active, body .tn-gift-certificate-component #apply-gc-submit:focus, body .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle:hover, body .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle:active, body .tn-gift-certificate-component .tn-apply.tn-payment-gift-certificate-toggle:focus, body .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle:hover, body .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle:active, body .tn-gift-certificate-component .tn-cancel.tn-payment-gift-certificate-toggle:focus, body .tn-listing-filter-component .tn-date-filter-reset-button:hover, body .tn-listing-filter-component .tn-date-filter-reset-button:active, body .tn-listing-filter-component .tn-date-filter-reset-button:focus, body .tn-listing-legend-toggle-link:hover, body .tn-listing-legend-toggle-link:active, body .tn-listing-legend-toggle-link:focus, body .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle:hover, body .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle:active, body .tn-payment-plan-component .tn-apply.tn-payment-plan-toggle:focus, body .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle:hover, body .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle:active, body .tn-payment-plan-component .tn-cancel.tn-payment-plan-toggle:focus, body .tn-payment-plan .tn-apply.tn-payment-plan-toggle:hover, body .tn-payment-plan .tn-apply.tn-payment-plan-toggle:active, body .tn-payment-plan .tn-apply.tn-payment-plan-toggle:focus, body .tn-payment-plan .tn-cancel.tn-payment-plan-toggle:hover, body .tn-payment-plan .tn-cancel.tn-payment-plan-toggle:active, body .tn-payment-plan .tn-cancel.tn-payment-plan-toggle:focus, body .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button:hover, body .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button:active, body .tn-subnav-component .tn-promo-box button.tn-subnav-promo-button:focus, body .tnew_button_as_link:hover, body .tnew_button_as_link:active, body .tnew_button_as_link:focus {
      color: #190119; }
  body .tn-event-listing-mode-tab-nav__list-item.active {
    color: #190119; }
  body .tn-datepicker td.day[aria-current=date] span, body .tn-events-keyword-filter__keyword-input:checked + .tn-events-keyword-filter__keyword-button {
    color: #fff;
    background-color: #630462;
    border-color: #630462; }
  body .glyphicon {
    color: #630462; }
  body .btn {
    border-radius: 0px; }
  body .btn-xs {
    border-radius: 0px; }
  body .btn-primary {
    color: #fff;
    background-color: #630462;
    border-color: #630462; }
    body .btn-primary .glyphicon {
      color: #fff; }
    body .btn-primary:hover, body .btn-primary:active, body .btn-primary:focus {
      color: #fff;
      background-color: #190119;
      border-color: #190119; }
  body .btn-info {
    color: #fff;
    background-color: #1074BA;
    border-color: #1074BA; }
    body .btn-info:hover, body .btn-info:active, body .btn-info:focus {
      color: #fff;
      background-color: #0a4874;
      border-color: #0a4874; }
  body .form-control:focus {
    border-color: #630462; }
  body select:focus > option:checked,
  body select option:checked,
  body select option:hover {
    color: #fff;
    box-shadow: 0 0 10px 100px #630462 inset;
    background: #630462 !important; }
  body .tn-syos-screen-button {
    color: #fff;
    background-color: #1074BA;
    border-color: #1074BA; }
    body .tn-syos-screen-button h4 {
      color: #fff; }
